<h1>Genhub Privileges</h1> <a href="index">(home)</a>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<p></p>
<p></p>
<p>These 6 tables describe the role based privileges:</p>
<ul>
    <li> <a href="role_user">Role User</a> table. </li>
    <li> <a href="user_role">User Role</a> table. </li>
    <li> <a href="role_permission">Role Permission</a> table. </li>
    <li> <a href="permission_role">Permission Role</a> table. </li>
    <li> <a href="user_permission">User Permission</a> table. </li>
    <li> <a href="permission_user">Permission User</a> table. </li>
</ul>
<p></p>
<p>Search</p>
    <li> <a href="search">User Search</a> </li>
<p>Check</p>
    <li> <a href="check">User Check</a> </li>

